{% extends 'main/layout.html' %}
{% block title_page %}404 | VisGen{% endblock %}
{% block content %}
    <div class="container shadow rounded-4 sh">
        <br>
        <h1 class="display-1 text-center">404</h1>
        <br><br><br>
        <h2 class="text-center text-muted">Ой, ошибка 404!</h2>
        <br><br>
        <h3 class="text-center text-muted">Видимо вы попытались перейти на несуществующую страницу</h3>
        <br>
        <h3 class="text-center text-muted">Или ввели несуществующий id визитной карточки</h3>
        <br><br><br><br>
        <h5 class="text-center text-muted">Вы можете <a class="text-decoration-none fw-bold fst-italic text-muted" href="/">вернуться на главную страницу</a> и попробовать снова...</h5>
        <br><br>
    </div>
{% endblock %}